@import '@/assets/colors/colors.module';

.fullPageBackground {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/switch-bg/img-bg-switch.jpeg');
}

.bgCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15%;
  background-color: $color-white;
  padding: 40px;
  width: 100vw;
  position: relative;
  height: 230px;
}

.bgButton {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customButton {
  font-size: 16px !important;
  padding: 24px 48px !important;
  width: 300px !important;
  height: 80px !important;
  border-radius: 10px !important;
  background-color: $color-green-medium !important;

  &:hover {
    background-color: darken($color-green-medium, 10%) !important;
    cursor: pointer !important;
  }
}


.textContent {
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-top: 20px;
  color: $color-black;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}


.bgLang {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  justify-content: flex-end;
}

